@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

*,
body {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
}

.active > span:nth-child(2) {
  width: 24px;
  transition-duration: 200ms;
}

.active > span:nth-child(3) {
  width: 24px;
  transition-duration: 200ms;
}

h1 {
  animation-name: in;
  animation-duration: 1500ms;
  animation-fill-mode: both;
}

.description {
  animation-name: in;
  animation-duration: 1500ms;
  animation-fill-mode: both;
  animation-delay: 1000ms;
}

@keyframes in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
