@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

*,
body {
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: white;
}

.active > span:nth-child(2) {
  width: 24px;
  transition-duration: 200ms;
}

.active > span:nth-child(3) {
  width: 24px;
  transition-duration: 200ms;
}
