<ul class="flex flex-col gap-5">
    <!-- <a href="" -->

    <li>
        <a href="" class="text-base font-medium text-black">Home</a>
    </li>
    <li>
        <a href="" class="text-base font-medium text-black">Breads</a>
    </li>
    <li>
        <a href="" class="text-base font-medium text-black">Contacts</a>
    </li>
</ul>