---
import HamburgerIcon from './HamburgerIcon.astro'

import NavbarMenu from './NavbarMenu.astro'
---

<nav class="flex justify-between items-center px-8 py-10 sm:px-20 lg:px-44">
    <div class="flex justify-start items-center">
        <a href="" class="text-2xl font-bold text-white">Tokoroti</a>
    </div>
        <ul class="hidden gap-10 md:flex">
            <li><a href="" class="text-base font-medium text-white">Home</a></li>
            <li><a href="" class="text-base font-medium text-white">Breads</a></li>
            <li><a href="" class="text-base font-medium text-white">Contacts</a></li>
        </ul>
    <div class="flex justify-end items-center md:hidden">
        <button id="hamburgerButton" class="">
            <HamburgerIcon />
        </button>
    </div>
</nav>

<div id="navbarMenu" class="absolute right-8 hidden bg-white h-44 w-44 rounded-xl p-5">
    <NavbarMenu />
</div>


<script>
    const hamburgerButton = document.getElementById('hamburgerButton');

    const navbarMenu = document.getElementById('navbarMenu');

    hamburgerButton?.addEventListener('click', () => {
        hamburgerButton.classList.toggle('active');
        navbarMenu?.classList.toggle('hidden');
    });
</script>